<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllList</key>
	<array>
		<dict>
			<key>title</key>
			<string>数字尾巴</string>
			<key>desc</key>
			<string>分享美好数字生活</string>
			<key>iconUrl</key>
			<string>http://www.dgtle.com/img/common/dgtlerss.jpeg</string>
			<key>xmlLink</key>
			<string>https://www.dgtle.com/rss/dgtle.xml</string>
			<key>webLink</key>
			<string>http://www.dgtle.com</string>
		</dict>
		<dict>
			<key>title</key>
			<string>cnBeta.COM RSS订阅</string>
			<key>desc</key>
			<string>cnBeta.COM - 简明IT新闻,网友媒体与言论平台</string>
			<key>iconUrl</key>
			<string>https://static.cnbetacdn.com/logo.png</string>
			<key>xmlLink</key>
			<string>https://www.cnbeta.com/backend.php</string>
			<key>webLink</key>
			<string>https://www.cnbeta.com</string>
		</dict>
		<dict>
			<key>title</key>
			<string>极客公园</string>
			<key>desc</key>
			<string>极客公园</string>
			<key>iconUrl</key>
			<string>https://imgslim.geekpark.net/images/GeekPart-blacklogo.png</string>
			<key>xmlLink</key>
			<string>http://www.geekpark.net/rss</string>
			<key>webLink</key>
			<string>http://www.geekpark.net</string>
		</dict>
		<dict>
			<key>title</key>
			<string>游研社</string>
			<key>desc</key>
			<string>无论你是游戏死忠，还是轻度的休闲玩家，在这里都能找到感兴趣的东西。</string>
			<key>iconUrl</key>
			<string>https://alioss.yystv.cn/images/yyslogo124.png</string>
			<key>xmlLink</key>
			<string>https://www.yystv.cn/rss/feed</string>
			<key>webLink</key>
			<string>https://www.yystv.cn</string>
		</dict>
		<dict>
			<key>title</key>
			<string>机核</string>
			<key>desc</key>
			<string>不止是游戏</string>
			<key>iconUrl</key>
			<string>https://alioss.gcores.com/page_resources/misc/logo-red.png</string>
			<key>xmlLink</key>
			<string>https://www.gcores.com/rss</string>
			<key>webLink</key>
			<string>https://www.gcores.com</string>
		</dict>
		<dict>
			<key>title</key>
			<string>虎嗅</string>
			<key>desc</key>
			<string>虎嗅网RSS订阅</string>
			<key>iconUrl</key>
			<string>https://static.huxiucdn.com/www/image/logo/logo.jpg</string>
			<key>xmlLink</key>
			<string>https://rss.huxiu.com/</string>
			<key>webLink</key>
			<string>https://www.huxiu.com</string>
		</dict>
		<dict>
			<key>title</key>
			<string>知乎日报</string>
			<key>desc</key>
			<string>每天3次，每次7分钟 - Made with love by RSSHub(https://github.com/DIYgod/RSSHub)</string>
			<key>iconUrl</key>
			<string></string>
			<key>xmlLink</key>
			<string>https://rsshub.app/zhihu/daily</string>
			<key>webLink</key>
			<string>https://daily.zhihu.com</string>
		</dict>
		<dict>
			<key>title</key>
			<string>少数派</string>
			<key>desc</key>
			<string>少数派致力于更好地运用数字产品或科学方法，帮助用户提升工作效率和生活品质</string>
			<key>iconUrl</key>
			<string></string>
			<key>xmlLink</key>
			<string>https://sspai.com/feed</string>
			<key>webLink</key>
			<string>https://sspai.com</string>
		</dict>
		<dict>
			<key>title</key>
			<string>FT中文</string>
			<key>desc</key>
			<string>FT中文全文RSS。获取更多全文RSS：https://feedx.net</string>
			<key>iconUrl</key>
			<string></string>
			<key>xmlLink</key>
			<string>https://feedx.top/rss/ft.xml</string>
			<key>webLink</key>
			<string>https://www.ft.com</string>
		</dict>
		<dict>
			<key>title</key>
			<string>央视新闻 world</string>
			<key>desc</key>
			<string>央视新闻 world - Made with love by RSSHub(https://github.com/DIYgod/RSSHub)</string>
			<key>iconUrl</key>
			<string></string>
			<key>xmlLink</key>
			<string>https://rss.shab.fun/cctv/world</string>
			<key>webLink</key>
			<string>http://news.cctv.com/world</string>
		</dict>
		<dict>
			<key>title</key>
			<string>V2EX</string>
			<key>desc</key>
			<string></string>
			<key>iconUrl</key>
			<string></string>
			<key>xmlLink</key>
			<string>http://www.v2ex.com/index.xml</string>
			<key>webLink</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
